#button-close-scoreboard {
    border: 3px solid orange;
    border-radius: 30px;
    font-size: 20px;
    background: white;
    position: absolute;
    top: 5px;
    right: 5px;
    color: grey;
    cursor: pointer;
  }
  
  #scoreboard {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: orange;
    color: white;
    position: relative;
    width: 80%;
    height: 25%;
    border-radius: 8px;;
  }
  
  #scoreboard h2 {
    text-align: center;
  }
  
  #scoreboard h1 {
    text-align: center;
  }

  body.celebrate {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  body.celebrate #scoreboard {
    display: flex;
    z-index: 1;
  }
  
  body.celebrate .drop-container {
    display: flex;
  }

  body.celebrate #container,
  body.celebrate #button-next,
  body.celebrate #button-competition{
    display: none;
  }
