#button-close-scoreboard {
    border: 3px solid orange;
    border-radius: 30px;
    font-size: 20px;
    background: white;
    position: absolute;
    top: 5px;
    right: 5px;
    color: grey;
    cursor: pointer;
  }
  
  #scoreboard {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: orange;
    color: white;
    position: relative;
    width: 80%;
    height: 25%;
    border-radius: 8px;;
  }
  
  #scoreboard h2 {
    text-align: center;
  }
  
  #scoreboard h1 {
    text-align: center;
  }

  body.celebrate {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  body.celebrate #scoreboard {
    display: flex;
    z-index: 1;
  }
  
  body.celebrate .drop-container {
    display: flex;
  }

  body.celebrate #container,
  body.celebrate #button-next,
  body.celebrate #button-competition{
    display: none;
  }
  
/* celebration */

.drop-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }
  
  .drop {
    position: absolute;
    width: 10px;
    height: 30px;
    background: #ffd300;
    top: 0;
    opacity: 0;
  }
  
  .drop:nth-child(1) {
    left: 7%;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 182ms;
    -webkit-animation-duration: 1116ms;
    transform: rotate(-40deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 182ms;
    animation-duration: 1116ms;
  }
  
  .drop:nth-child(2) {
    left: 14%;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 161ms;
    -webkit-animation-duration: 1076ms;
    transform: rotate(4deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 161ms;
    animation-duration: 1076ms;
  }
  
  .drop:nth-child(3) {
    left: 21%;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 481ms;
    -webkit-animation-duration: 1103ms;
    transform: rotate(-51deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 481ms;
    animation-duration: 1103ms;
  }
  
  .drop:nth-child(4) {
    left: 28%;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 334ms;
    -webkit-animation-duration: 708ms;
    transform: rotate(61deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 334ms;
    animation-duration: 708ms;
  }
  
  .drop:nth-child(5) {
    left: 35%;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 302ms;
    -webkit-animation-duration: 776ms;
    transform: rotate(-52deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 302ms;
    animation-duration: 776ms;
  }
  
  .drop:nth-child(6) {
    left: 42%;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 180ms;
    -webkit-animation-duration: 1168ms;
    transform: rotate(38deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 180ms;
    animation-duration: 1168ms;
  }
  
  .drop:nth-child(7) {
    left: 49%;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 395ms;
    -webkit-animation-duration: 1200ms;
    transform: rotate(11deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 395ms;
    animation-duration: 1200ms;
  }
  
  .drop:nth-child(8) {
    left: 56%;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 14ms;
    -webkit-animation-duration: 887ms;
    transform: rotate(49deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 14ms;
    animation-duration: 887ms;
  }
  
  .drop:nth-child(9) {
    left: 63%;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 149ms;
    -webkit-animation-duration: 805ms;
    transform: rotate(-72deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 149ms;
    animation-duration: 805ms;
  }
  
  .drop:nth-child(10) {
    left: 70%;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 351ms;
    -webkit-animation-duration: 1059ms;
    transform: rotate(10deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 351ms;
    animation-duration: 1059ms;
  }
  
  .drop:nth-child(11) {
    left: 77%;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 307ms;
    -webkit-animation-duration: 1132ms;
    transform: rotate(4deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 307ms;
    animation-duration: 1132ms;
  }
  
  .drop:nth-child(12) {
    left: 84%;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 464ms;
    -webkit-animation-duration: 776ms;
    transform: rotate(42deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 464ms;
    animation-duration: 776ms;
  }
  
  .drop:nth-child(13) {
    left: 91%;
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 429ms;
    -webkit-animation-duration: 818ms;
    transform: rotate(-72deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 429ms;
    animation-duration: 818ms;
  }
  
  .drop:nth-child(odd) {
    background: #7431e8;
  }
  
  .drop:nth-child(even) {
    z-index: 1;
  }
  
  .drop:nth-child(4n) {
    width: 5px;
    height: 12px;
    -webkit-animation-duration: 2000ms;
    animation-duration: 2000ms;
  }
  
  .drop:nth-child(3n) {
    width: 3px;
    height: 10px;
    -webkit-animation-duration: 2500ms;
    -webkit-animation-delay: 1000ms;
    animation-duration: 2500ms;
    animation-delay: 1000ms;
  }
  
  .drop:nth-child(4n-7) {
    background: red;
  }
  
  @-webkit-keyframes makeItRain {
    from {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  
    to {
      transform: translateY(350px);
    }
  }
  
  @keyframes makeItRain {
    from {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  
    to {
      transform: translateY(350px);
    }
  }
