* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#container {
  width: 660px;
  border: 3px solid grey;
  border-radius: 8px;
  padding: 48px;
  padding-top: 18px;
}

#question {
  font-size: 22px;
  margin-top: 8px;
  margin-bottom: 36px;
}

#button-next,
#button-competition {
  font-size: 18px;
  background-color: orange;
  border-radius: 7px;
  margin: 18px 0;
  color: white;
  border: none;
  padding: 18px 36px;
  cursor: pointer;
}

.choice {
  font-size: 18px;
  border: solid 3px orange;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  cursor: pointer
}

.choice:hover {
  border: solid 3px green;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  width: 30%;
  border: 5px solid orange;
  border-radius: 8px;
  position: relative;
}

#button-close-modal {
  border: 3px solid orange;
  border-radius: 30px;
  font-size: 20px;
  background: white;
  position: absolute;
  top: 5px;
  right: 5px;
  color: grey;
  cursor: pointer;
}

.player-row {
  background-color: gray;
  color: white;
}

.player-name {
  height: 30px;
  width: 125px;
  border: none;
}

td {
  padding: 15px;
}

tr {
  padding: 15px;
}

input {
  border-radius: 8px;
  height: 30px;
  width: 60px;
}


#button-custom-name,
#button-start {
  background-color: orange;
  border: 1px solid orange;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  line-height: 30px;
  width: 125px;
}

#competition-box {
  display: none;
  width: 660px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#current-player,
#button-end {
  font-size: 18px;
  background-color: orange;
  border-radius: 7px;
  margin: 18px 0;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;

}

#current-player {
  background-color: gray;
  cursor: none;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}


body.answer-locked .choice.selected.correct,
body.answer-locked .choice.correct {
  background-color: green;
  color: white;
  border-color: green;
}

body.answer-locked .choice.selected {
  background-color: red;
  color: white;
  border-color: red;
}


/* answer-locked */
body.answer-locked #box {
  pointer-events: none;
}

/* competition setup*/
body.setup-competition .modal-container {
  display: block;
}

/* competition active */
body.competition-active #button-competition {
  display: none;
}

body.competition-active #competition-box {
  display: flex;
}