* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#container {
  width: 660px;
  border: solid 3px grey;
  border-radius: 8px;
  padding: 48px;
  padding-top: 18px;
}

#question {
  font-size: 22px;
  margin-top: 8px;
  margin-bottom: 36px;
}

#next {
  font-size: 18px;
  background-color: orange;
  border-radius: 7px;
  margin: 18px 0;
  color: white;
  border: none;
  padding: 18px 36px;
}

.choice {
  font-size: 18px;
  border: solid 3px orange;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  cursor: pointer
}

.choice:hover {
  border: solid 3px orangered;
}